.navbar {
display: flex;
justify-content: space-between;
}

.navbar ul {
    display: flex;
     gap: 5vw;
     padding-left: 10px;
    }


.navbar-button {
    list-style: none;}

.navbar-button a {
    white-space: nowrap;
color: #FF6060;
text-align: right;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; 
text-decoration: none;

@media screen and (max-width: 800px) {
    font-size: 1.1rem;
}
}


