.imageCarrousel {
    position: relative;
    padding: 20px 0;
}

.imageCarrousel button {
    position: absolute;
    top: 40%;
    font-size: 6rem;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:first-of-type {
        left: 5%;
    }

    &:last-of-type{
        right: 5%;
    }

    @media screen and (max-width: 600px) {
        font-size: 3rem;
    }
}

.imageCarrousel img {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.imageIndex {
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    @media screen and (max-width: 600px) {
        visibility: hidden;
    }
}

h1 , h2 {
    color: #FF6060;
    margin: 5px;
}

.propertyTitleToHost {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.propertyTitleLocationTags {
    display: flex;
    flex-direction: column;
}

.propertyTags {
    display: flex;
    list-style: none;
    padding: 0;

    & li {
        color: white;
        padding: 7px 25px;
        margin-right: 10px;
        background-color: #FF6060;
        border-radius: 15px;
        cursor: pointer;
    }
}

.propertyStarsHost {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 30px;

    @media screen and (max-width: 1000px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.host {
    width: 129px;
}

.stars {
    text-align: right;
    letter-spacing: 7px;
}

.propertyHost {
    display: flex;
    align-items: center;

    & img{
        border-radius: 50%;
    }
}

.toggleArrow .fa-solid {
    transition: transform 0.5s ease-in-out;
}

.toggleArrow .fa-solid.rotated {
    transform: rotate(-180deg);
}

.collapse1and2 {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    
@media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

    & div {
        max-width: 40vw;
        @media screen and (max-width: 600px) {
            max-width: 80vw;
            }
    }
}



.logementNotFound {
    text-align: center;
    padding: 100px;
    font-size: 2rem;
}
